:host {
  $header-height: 64px;
  $footer-height: 64px;

  .overlay {
    display: block;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .task-editor {
      margin: 10% auto;
      background-color: white;
      display: block;
      min-width: 300px;
      width: 60%;

      .header {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0 24px;
        height: $header-height;
        background-color: darkslateblue;
        color: white;

        .title {
          text-transform: uppercase;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .actions {
          margin-left: auto;
          flex-shrink: 0;

          button {
            padding: 8px 16px;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: lightgrey;
            color: black;

            & ~ button {
              margin-left: 8px;
            }
          }
        }
      }

      .content {
        height: calc(100% - #{$header-height});
        padding: 24px;

        .form-control {
          width: 100%;
          margin-bottom: 16px;

          .title {
            width: 100%;
          }

          input, textarea, select {
            width: 100%;
            background-color: transparent;
            color: black;
            font-size: 14px;
            font-family: Roboto, serif;
            border-style: solid;
            border-color: lightgrey;
            border-width: 1px;
            outline: none;
          }

          &.invalid {
            color: red;
          }
        }
      }

      .footer {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0 24px;
        height: $footer-height;
        color: white;

        .actions {
          margin-left: auto;
          flex-shrink: 0;

          button {
            padding: 8px 16px;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: lightgrey;
            color: black;

            & ~ button {
              margin-left: 8px;
            }
          }

          .save-button {
            background-color: darkslateblue;
            color: white;
          }
        }
      }
    }
  }
}
