<div class="overlay">
  <div class="task-editor">
    <div class="header">
      <div class="title">Task {{task?.id}}</div>
      <div class="actions">
        <button (click)="onCancelButtonClick()">close</button>
      </div>
    </div>
    <div class="content" [formGroup]="form">
      <div class="form-control"
           *ngIf="form.get('name') as name"
           [ngClass]="{invalid: name.invalid && name.touched}">
        <div class="title">name</div>
        <textarea [rows]="4" [formControl]="name"></textarea>
      </div>
      <div class="form-control"
           *ngIf="form.get('description') as description"
           [ngClass]="{invalid: description.invalid && description.touched}">
        <div class="title">description</div>
        <textarea [formControl]="description" [rows]="10"></textarea>
      </div>
      <div class="form-control"
           *ngIf="form.get('expireAtMS') as expireAtMS"
           [ngClass]="{invalid: expireAtMS.invalid && expireAtMS.touched}">
        <div class="title">expireAtMS</div>
        <input [formControl]="expireAtMS" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" readonly>
        <owl-date-time #dt1 [showSecondsTimer]="true" [pickerMode]="popup"></owl-date-time>
      </div>
      <div class="form-control"
           *ngIf="form.get('status') as status"
           [ngClass]="{invalid: status.invalid && status.touched}">
        <div class="title">status</div>
        <select [formControl]="status">
          <option value="todo">todo</option>
          <option value="processing">processing</option>
          <option value="done">done</option>
        </select>
      </div>

    </div>

    <div class="footer">
      <div class="actions">
        <button class="save-button" (click)="onSaveButtonClick()" [disabled]="form.invalid">Save</button>
        <button (click)="onCancelButtonClick()">Cancel</button>
      </div>
    </div>
  </div>
</div>
