<div class="task-card"
     [ngClass]="{
     'is-warn': task?.status !== 'done' && task?.expireAtMS - currentDateMS < 3 * 24 * 60 * 60 * 1000 && task?.expireAtMS - currentDateMS > 0,
     'is-expired': task?.status !== 'done' && task?.expireAtMS - currentDateMS <= 0,
     'is-done': task?.status === 'done'
     }">
  <div class="header">
    <div class="title">Task {{task?.id}}</div>
    <div class="actions">
      <button class="delete-task-button" (click)="onDeleteTaskButtonClick()">Delete Task</button>
      <button class="edit-task-button" (click)="onEditTaskButtonClick()">Edit Task</button>
    </div>
  </div>
  <div class="content">
    <div class="task-status">
      <button
        [disabled]="task?.status==='todo'"
        [ngClass]="{selected:task?.status==='todo'}"
        class="button-todo"
        (click)="setStatus('todo')">todo
      </button>
      <button
        [disabled]="task?.status==='processing'"
        [ngClass]="{selected:task?.status==='processing'}"
        class="button-processing"
        (click)="setStatus('processing')">processing
      </button>
      <button
        [disabled]="task?.status==='done'"
        [ngClass]="{selected:task?.status==='done'}"
        class="button-done"
        (click)="setStatus('done')">done
      </button>
    </div>
    <div class="task-info">
      <div class="task-name">{{task?.name}}</div>
      <div class="task-expire-at">{{task?.expireAtMS | date:"dd.MM.yyyy HH:mm:ss"}}</div>
    </div>
  </div>
</div>
