:host {
  $header-height: 64px;

  $expired-color: red;
  $done-color: mediumseagreen;
  $warn-color: coral;
  cursor: grab;

  display: block;


  .task-card {
    border-radius: 4px;
    overflow: hidden;

    &.is-expired {
      .header, .content .task-info .task-expire-at {
        background-color: $expired-color;
        color: white;
      }
    }

    &.is-warn {
      .header, .content .task-info .task-expire-at {
        background-color: $warn-color;
        color: white;
      }
    }

    &.is-done {
      .header, .content .task-info .task-expire-at {
        background-color: $done-color;
        color: white;
      }
    }
  }


  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 24px;
    height: $header-height;
    background-color: darkslateblue;
    color: white;

    .title {
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .actions {
      margin-left: auto;
      width: 220px;
      flex-shrink: 0;
      text-align: right;

      button {
        padding: 8px 16px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: lightgrey;
        color: black;

        & ~ button {
          margin-left: 8px;
        }
      }
    }
  }

  .content {
    height: calc(100% - #{$header-height});
    padding: 24px;
    background-color: white;
    display: flex;
    flex-direction: row;

    .task-info {
      padding: 16px;

      .task-name {
        margin-bottom: 24px;
      }

      .task-expire-at {
        padding: 16px;
        border-radius: 25px;
        background-color: lightgrey;
        color: black;
        display: inline-block;
        margin-right: 16px;
        min-width: 180px;
        text-align: center;
      }
    }

    .task-status {
      //margin-right: auto;
      display: flex;
      align-items: center;
      width: 220px;
      flex-shrink: 0;

      button {
        padding: 8px 16px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: lightgrey;
        color: black;

        &.selected {
          background-color: darkslateblue;
          color: white;
        }

        & ~ button {
          border-left: solid 1px gray;
        }
      }
    }
  }
}
