:host {
  $header-height: 64px;

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 24px;
    height: $header-height;
    background-color: darkslateblue;
    color: white;

    .title {
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .actions {
      margin-left: auto;
      flex-shrink: 0;

      button {
        padding: 8px 16px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: lightgrey;
        color: black;

        & ~ button {
          margin-left: 8px;
        }
      }
    }

  }

  .content {
    background-color: lightgrey;
    height: calc(100% - #{$header-height});
    padding: 24px;
    overflow: auto;


    .task-list {
      padding: 24px 0;

    }
  }

  .task-card ~ .task-card {
    margin-top: 16px;
  }
}
