<div class="header">
  <div class="title">{{title}}</div>
  <div class="actions">
    <button class="add-task-button" (click)="onAddTaskButtonClick()">Add task</button>
  </div>
</div>
<div class="content">
  <div class="task-list">
    <app-task-card
      class="task-card"
      (selectstart)="false"
      [draggable]="true"
      (dragstart)="onDragStart($event, task,idx)"
      (dragend)="onDragEnd($event,task,idx)"
      (drop)="onDrop($event,task,idx)"
      (dragover)="onDragOver($event,task,idx)"
      *ngFor="let task of tasks; let idx = index" [task]=task
      (taskDeleteClicked)="deleteTask($event)"
      (taskEditClicked)="editTask($event)"></app-task-card>
  </div>
</div>

<router-outlet></router-outlet>
